html, body {
    margin: 0;
    padding: 0;
}

section {
    padding: 3% 5%;
}

/* landing page styling(start) */

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-large {
    max-width: 100%;
    margin: 0 auto;
}

.publisher-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5%;
}

.publisher-content {
    margin: 0 auto;
}

/* landing page styling(end) */

/* trailer page styling(start */

.trailer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trailer-content {
    margin: 0 auto;
}

.trailer-content>video {
    width: 800px;
}

/* trailer page styling(end) */

/* story page styling(start) */

.story-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10%;
}

.story-image {
    max-width: 100%;
}

.story-content {
    padding: 3%;
}

.story-details {
    background: black;
    transform: translate(-60px, 100px);
    z-index: 1;
    color: white;
    max-height: 200px;
}

/* story page styling(end) */

/* characters page styling(start) */

.characters-container {
    padding: 3% 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.characters-navbar nav {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    border-bottom: 2px solid gray;
}

.navbar-list {
    display: flex;
    flex-direction: row;
}

.navbar-list li {
    padding: 0 50px;
    list-style-type: none;
}

.characters-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 15%;
}

.characters-content div {
    padding: 3% 5%;
}

.character-image {
    width: 250px;
}

/* characters page styling(end) */

/* artwork page styling(start) */

.artwork-container {
    padding: 3% 15%;
}

.artwork-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5%;
}

.artwork-content div {
    margin: 0 auto;
}

.artwork-image-lg {
    max-width: 100%;
}

.artwork-image-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}

.artwork-image-sm {
    max-width: 30%;
    height: auto;
}

/* artwork page styling(end) */

/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}

/* iPad */

@media all and (max-width: 770px) {
    .trailer-content>video {
        max-width: 500px;
    }
    .story-details {
        max-height: 150px;
        font-size: 0.5em;
    }
    .character-image {
        width: 150px;
    }
    .character-details-container {
        font-size: 0.5em;
    }

    .navbar-list li {
        padding: 0 25px;
        list-style-type: none;
    }
}

/* iPhone 6/7/8 plus */

@media all and (max-width: 420px) {
    .trailer-content>video {
        max-width: 300px;
    }
    .story-details {
        background: black;
        transform: translate(0, 0);
        z-index: 1;
        color: white;
    }

    .story-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 10%;
    }
    .story-image-container{
        padding: 0;
    }
    .characters-navbar {
        font-size: 0.8em;
    }

    .navbar-list li {
        padding: 0 5px;
        list-style-type: none;
    }

    .character-image {
        width: 80px;
    }

    /* .artwork-image-sm {
        max-height: 36px;
    } */
}

/* iPhone 6/7/8  */

@media all and (max-width: 375px) {
    .trailer-content>video {
        max-width: 300px;
    }
}

@media all and (max-width: 320px) {
    .character-details-container {
        font-size: 5px;
    }
}