/* 
    #D3D3D3 gray
    #601309 wine red
    #304F49 grayish green
    #65743A oliveish green
    #EFDD8D yellow
*/

html, body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: 'Neucha', cursive;

    font-size: 0.95rem;
    letter-spacing: 0.1rem;
    background: rgb(51, 51, 51);
    background: linear-gradient(104deg, rgba(51, 51, 51, 1) 0%, rgba(221, 24, 24, 1) 100%);
}

section {
    padding: 5%;
}


.title {
    font-size: 3rem;
    margin: 3% 5%;
    font-family: 'Caveat', cursive;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* header font fantasy */

/* landing page styling(start) */
#landing-page {
    height: 100vh;
    transform: fa
}

.game-logo-lg {
    width: 100%;
}

.company-container {
    margin-left: 70%;
}

.company-logo-md {
    max-width: 300px;
}

/* landing page styling(end) */

/* story page styling(start) */

#story-page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.story-card {
    position: relative;
    color: white;
    background: inherit;
}

.story-card img {
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    /* box-shadow: -9px 6px 7px 3px rgba(204,178,178,1); */
    
}

.top-right {
    position: absolute;
    bottom: 0px;
    right: 20px;
    margin-left: 70%;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.5);
    
}
/* story page styling(end) */

/* trailer page styling(start) */

#trailer-page {
    /* background: lightblue url("img_tree.gif") no-repeat fixed center; */
}

.trailer-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trailer-description {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.5rem;
}

.trailer-container video {
    width: 100%;
}

/* trailer page styling(end) */

/* characters page styling(start) */

#character-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.character-details {
    display: flex;
    padding: 0 15%;
}

.character-details div {
    margin: 3%;
}

.character-profile {
    background: inherit;
    min-width: 250px;
}
.character-profile img {
    width: 100%;
    border-radius: 10px;

}

.character-description {
    padding: 3%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.character-description h3 {
    border-bottom: white solid 2px;
    margin-bottom: 3%;
}

.character-sprites {
    display: flex;
    justify-content: center;
    padding: 3%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 20%;
}

.character-sprites img {
    max-width: 150px;
}
/* characters page styling(end) */

/* gameplay page styling(start) */

#gameplay-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.gameplay-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
    padding: 3%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.gameplay-image img {
    width: 100%;
}

.gameplay-description {
    margin-top: 3%;
}

.gameplay-description h4 {
    margin-bottom: 3%;
    border-bottom: white solid 2px;
}
/* gameplay page styling(end) */

/* artwork page styling(start) */

#artwork-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 5%;
}


.artworks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.artworks img {
    display: inline-block;
    width: 40%;
    border-radius: 10px;
    margin: 3% 0;
}
/* artwork page styling(end) */

/* contributors(start) */

#contributors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #304F49;
    padding: 0;
}

.contributors-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
}

.contributors-list div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contributor-picture {
    border-radius: 100%;
    max-width: 150px;
    width: 100%;
}

/* contributors(end) */

/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}

/* iPad */

@media all and (max-width: 770px) {}

/* iPhone 6/7/8 plus */

@media all and (max-width: 420px) {}

/* iPhone 6/7/8  */

@media all and (max-width: 375px) {}

@media all and (max-width: 320px) {}