html, body {
    margin: 0;
    padding: 0;
}

section {
    padding: 3% 5%;
}

/* landing page styling(start) */

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-large {
    max-width: 100%;
    margin: 0 auto;
}

.publisher-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5%;
}

.publisher-content {
    margin: 0 auto;
}

/* landing page styling(end) */

/* trailer page styling(start */

.trailer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trailer-content {
    margin: 0 auto;
}

.trailer-content>video {
    width: 800px;
}

/* trailer page styling(end) */

/* story page styling(start) */

.story-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10%;
}

.story-image {
    max-width: 100%;
}

.story-content {
    padding: 3%;
}

.story-details {
    background: black;
    transform: translate(-60px, 100px);
    z-index: 1;
    color: white;
    min-height: 200px;
}

/* story page styling(end) */

/* characters page styling(start) */

.characters-container {
    padding: 3% 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.characters-navbar nav {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    border-bottom: 2px solid gray;
}

.navbar-list {
    display: flex;
    flex-direction: row;
}

.navbar-list li {
    padding: 0 50px;
    list-style-type: none;
}

.characters-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 15%;
}

.characters-content div {
    padding: 3% 5%;
}

.character-image {
    width: 250px;
}

/* characters page styling(end) */

/* artwork page styling(start) */

.artwork-container {
    padding: 3% 15%;
}

.artwork-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5%;
}

.artwork-content div {
    margin: 0 auto;
}

.artwork-image-lg {
    max-width: 100%;
}

.artwork-image-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}

.artwork-image-sm {
    max-width: 30%;
}

/* artwork page styling(end) */

@media all and (max-width: 1690px) {}

@media all and (max-width: 1280px) {}

@media all and (max-width: 980px) {}

@media all and (max-width: 736px) {}

/* iPhone 6/7/8 plus */

@media all and (max-width: 420px) {}

/* iPhone 6/7/8  */

@media all and (max-width: 375px) {
    .trailer-content>video {
        max-width: 300px;
    }
}