html, body {
    margin: 0;
    padding: 0;
    background: #18170E;
    color: #DCE0DC;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-content {
    background: #DCE0DC;
    padding: 5%;
    border-radius: 5px;
}

.company-content {
    padding: 5%;
    margin: 0% auto;
}

.video-content {
    margin: 0% auto;
}

.video-content>video {
    width: 1000px;
}

.trailer-title {
    margin: 0%;
}

img {
    width: 100%;
}

@media all and (max-width: 1690px) {}
@media all and (max-width: 1280px) {}
@media all and (max-width: 980px) {}
@media all and (max-width: 736px) {}

/* iPhone 6/7/8 plus */
@media all and (max-width: 420px) {
    .video-content>video {
        width: 375px;
    }

    .img {
        width: 90%;
    }
}

/* iPhone 6/7/8  */
@media all and (max-width: 375px) {
    .video-content>video {
        width: 300px;
    }

    .img {
        width: 90%;
    }
}

